<a href="https://colab.research.google.com/github/neeshat/Data-Science/blob/main/Second_class.ipynb" target="_parent"><img src="https://colab.research.google.com/assets/colab-badge.svg" alt="Open In Colab"/></a>

# 1. Create variables for your name, age, and favorite color, then print them

In [2]:
name = "MD. ALIMUL NISHAT SHANTU"
age = 25
fav_color = "Red"

print(name)
print(age)
print(fav_color)

MD. ALIMUL NISHAT SHANTU
25
Red

# 2. Create one variable of each type and use the type() function to verify its type

In [20]:
name = "Nishat"
age = 25
height = 5.6
is_student = True
res = None
num_list = [1, 2, 3]
num_tuple = (4, 5)
num_set = {6, 7}
demo_dict = {"key": "value"}


print(type(name))
print(type(age))
print(type(height))
print(type(is_student))
print(type(res))
print(type(num_list))
print(type(num_tuple))
print(type(num_set))
print(type(demo_dict))

<class 'str'>
<class 'int'>
<class 'float'>
<class 'bool'>
<class 'NoneType'>
<class 'list'>
<class 'tuple'>
<class 'set'>
<class 'dict'>

# 3. Calculate the area and perimeter of a rectangle with length 7 and width 5.

In [6]:
length = 7
width = 5
area = length * width
perimeter = 2 * (length + width)

print("The area is: ",area)
print("The perimeter is: ",perimeter)

The area is:  35
The perimeter is:  24

# 4. Create a list of 5 Bangladeshi foods, then access the first and last elements

In [21]:
foods = ["rice","fish","lentils","paratha","biriyani"]
print("The first element is: ",foods[0])
print("The last elements is: ",foods[-1])

The first element is:  rice
The last elements is:  biriyani

# 5. Create a list of 5 numbers, add a new number, remove one, and then sort the list

In [11]:
num = [10,3,20,5,8]
num.append(6)
num.remove(3)
num.sort()
print(num)

[5, 6, 8, 10, 20]

# 6. Create a dictionary about yourself with at least 4 key-value pairs.

In [12]:
myself = {
    "name" : "Alimul Nishat",
    "age" : 25,
    "fav_color" : "Red",
    "is_student" : True
}
print(myself)

{'name': 'Alimul Nishat', 'age': 25, 'fav_color': 'Red', 'is_student': True}

# 7. Create a tuple with the latitude and longitude of a famous place in Bangladesh- Dinajpur

In [22]:
din_lat_long = (25.6241, 85.0414)
print("Latitude of Dinajpur is: ",din_lat_long[0],"Longitude of Dinajpur is: ",din_lat_long[1])

Latitude of Dinajpur is:  25.6241 Longitude of Dinajpur is:  85.0414

# 8. Create two sets of colors and find their union and intersection

In [14]:
color_set1 = {"red", "green", "blue"}
color_set2 = {"yellow", "green", "purple"}

union_set = color_set1 | color_set2
intersection_set = color_set1 & color_set2

print("Union set: ",union_set)
print("Intersection set: ",intersection_set)

Union set:  {'red', 'purple', 'green', 'blue', 'yellow'}
Intersection set:  {'green'}

# 9. Write a Python function that takes a string as input and prints the first and last cha

In [16]:
def display(name):
  print("The first char is: ",name[0])
  print("The last char is: ",name[-1])

display("Nishat")

The first char is:  N
The last char is:  t

# 10. Write a Python function that takes a string and converts it to uppercase.

In [19]:
def upper_converter(name):
  print(name.upper())

upper_converter("Nishat")

NISHAT